#screen {
    display: flex;
    height: 100vh;

    > .arena {
        display: flex;
        flex-direction: column;
        margin: auto;

        width: 250px; /* from background-image width */
        height: 198px; /* from background-image height */

        > .scene {
            display: flex;
            flex-direction: column;
            position: relative;

            > .dialog {
                position: absolute;
                bottom: 0px;
                width: 100%;
                background-color: rgba(255, 255, 255, .8);
                padding-left: 3px;
            }

            > .field {
                height: 60px;
            }

            > .opponent {
                align-self: flex-end;
                margin-top: 25px;
                margin-right: 25px;
            }

            > .player {
                margin-left: 25px;
            }
        }
    }
}
