<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel='shortcut icon' href='./assets/favicon.ico' type='image/x-icon'/>
    </head>
    <body>
        <div id='screen'></div>

        <!-- Dependencies -->
        <script src='https://unpkg.com/react@15.6.0/dist/react-with-addons.min.js'></script>
        <script src='https://unpkg.com/react-dom@15.6.0/dist/react-dom.min.js'></script>

        <script src='https://cdn.jsdelivr.net/velocity/1.4.0/velocity.min.js'></script>
        <script src='https://cdn.jsdelivr.net/velocity/1.4.0/velocity.ui.min.js'></script>
        <!--<script src='./node_modules/velocity-animate/velocity.js'></script>
        <script src='./node_modules/velocity-animate/velocity.ui.js'></script>-->

        <script src='https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.GOOGLEMAPS_JS_API_KEY %>&libraries=geometry'></script>

        <!-- Bundles -->
    </body>
</html>
